<div class="container-fluid">
  <h1 style="text-align:center">VOLUNTEER AS A</h1>
  <div class="container-fluid fourth_container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="img_collapse">
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td>
              <h2 style="color:black;margin-left:60px">Service Donations</h2>
            <a href="service"><img src="images/d1.jpg" class="img-responsive" width="800" height="250"></a>

            </td>
            <td>
            <h2 style="color:black;margin-left:60px">Medicine Donations</h2>
              <a href="medicinedetails"><img src="images/d2.jpg" class="img-responsive" width="800"  height="250"></td></a>
            <td>
              <h2 style="color:black;margin-left:60px">BE Volunteer</h2>
            
              <a href="volunteer"><img src="images/d3.jpg" class="img-responsive" width="800" height="250"></a>

            </td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

</div>