<div class="container"  style="margin-top:200px">

    <form class="well form-horizontal" action="/volunteerfinal" method="POST"  id="contact_form" style="background-image:url('images/volunteer.jpg')">
<fieldset>

<!-- Form Name -->
<legend style="color:black">Volunteer Details</legend>


<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">Email</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="Email Address" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label" style="color:black;">Volunteering-hours</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="volunteering_hours" placeholder="Hours" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label" style="color:black;">Volunteering-days</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="volunteering_days" placeholder="Days" class="form-control"  type="text">
    </div>
  </div>
</div>



<!-- Button -->
<a href="www.google.com">
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>
</a>

</fieldset>
</form>
</div>
    </div><!-- /.container -->

